* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

a {
  /* text-decoration: underline !important; */
  color: green !important;
  font-weight: bold;
}

body {
  margin: 0;
  background: var(--el-bg-color-page);
}
